.building {
  opacity: 0;
  transition: opacity 0.3s;
}

.building:hover {
  opacity: 1;
  filter: brightness(200%);
}


.highlightA {
  fill: rgba(255, 255, 255, 0);
}

.highlightA:hover {
  fill: rgba(255, 251, 35, 0.377);
}

.highlightB {
  fill: rgba(255, 255, 255, 0);
}

.highlightB:hover {
  fill: rgba(35, 174, 255, 0.377);
}

.highlightC {
  fill: rgba(255, 255, 255, 0);
}

.highlightC:hover {
  fill: rgba(255, 35, 237, 0.377);
}