.building:hover {
  filter: brightness(200%);
  /* เปลี่ยนความสว่างของภาพ */
}

.highlightA {
  fill: rgba(255, 255, 255, 0);
  /* เริ่มต้นเป็นสีเหลืองที่มีความโปร่งใส */
}

.highlightA:hover {
  fill: rgba(255, 251, 35, 0.377);
  /* เมื่อชี้เม้าส์เข้าไปในพื้นที่ให้เปลี่ยนเป็นสีเหลือง */
}

.highlightB {
  fill: rgba(255, 255, 255, 0);
  /* เริ่มต้นเป็นสีเหลืองที่มีความโปร่งใส */
}

.highlightB:hover {
  fill: rgba(35, 174, 255, 0.377);
  /* เมื่อชี้เม้าส์เข้าไปในพื้นที่ให้เปลี่ยนเป็นสีเหลือง */
}

.highlightC {
  fill: rgba(255, 255, 255, 0);
  /* เริ่มต้นเป็นสีเหลืองที่มีความโปร่งใส */
}

.highlightC:hover {
  fill: rgba(255, 35, 237, 0.377);
  /* เมื่อชี้เม้าส์เข้าไปในพื้นที่ให้เปลี่ยนเป็นสีเหลือง */
}